DATABASE_URL=postgresql://neondb_owner:npg_WlJmh7zKO0yY@ep-sparkling-block-a1q0n32v-pooler.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
JWT_SECRET=tutorpay_super_secret_jwt_key_2024
JWT_EXPIRES_IN=7d
PORT=5000
NODE_ENV=development
CLIENT_URL=http://localhost:5173
ADMIN_USERNAME=annc19324
ADMIN_PASSWORD=Zeanokai@1
